:root {
    --color-salmon: #fb6e6e;
    --color-light-salmon: #fdf1f1;
    --color-light-black: #374151;
    --color-light-black-2: #9CA3AF;
    --color-black: #111827;
    --color-light-gray: #9CA3AF;
}

html {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Inter', sans-serif;
}

.main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.header {
    flex: 5%;
    background-color: var(--color-salmon);
    /* display: flex;
    flex-direction: column; */
}

.mid_section {
    flex: 70%;
    background-color: var(--color-light-salmon);
    padding: 40px;
}

.sidebar {
    flex: 20%;
    padding: 30px 20px 30px;
}

.logo{
    width: 50px;
}

/* .menu_ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} */

/* .menu{
    
} */

.fa-search{
    /* font-weight: 700; */
    color: rgb(110, 110, 110);
}

.p_image{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.location_block{
    display: flex;
    gap: 20px;
    /* justify-content: stretch; */
}

.locations{
    flex: 25%;
    height: 200px;
    border-radius: 30px;
    position: relative;
}

#l1{
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url("./assets/images/beach.png");
    background-size: cover;
    background-position: center;
}

#l2{
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url("./assets/images/desert.png");
    background-size: cover;
    background-position: center;
}

#l3{
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url("./assets/images/mountain.png");
    background-size: cover;
    background-position: center;
}

#l4{
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url("./assets/images/lake.png");
    background-size: cover;
    background-position: center;
}

.location_context{
    position: absolute;
    bottom: 0px;
    padding: 20px;
}

.hotel_img{
    width: 70px;
    height: 70px;
}

.hotel_order{
    width: 50px;
    height: 50px;
}

.book_btn{
    background-color: var(--color-salmon);
    color: white;
}